Pivot Table
    
<button class="btn btn-primary" (click)="pivot()">Refresh</button>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th *ngFor = "let columnHeading of columnList">
          {{ columnHeading | titlecase }}
      </th>
      <th>Totals</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor = "let rowName of rowList">
      <td *ngIf="rowType=='date'">{{ rowName | monthname | titlecase }}</td>
      <td *ngIf="rowType!='date'">{{ rowName | titlecase }}</td>

      <td *ngFor = "let columnHeading of columnList">
        {{ pivotResult[rowName][columnHeading] }}
      </td>

      <td>
        {{ rowTotals[rowName] }}
      </td>

    </tr>
    <tr>
      <td>Totals</td>

      <td *ngFor = "let columnHeading of columnList">
        {{ columnTotals[columnHeading] }}
      </td>

      <td>
        {{ grandTotal }}
      </td>
    </tr>
  </tbody>

</table>
